apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: verity-disk-NAME_SUFFIX
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Block
  resources:
    requests:
      storage: DISK_SIZE_GBGi # adjust as needed
