# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

testfiles

node_modules/
*.local
package.json.md5

# required for downstream build processes
dist/*
!dist/.gitkeep

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env
